.shipment-form{
  width: 30%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}
