.container {
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.home {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
